@font-face {
  font-family: hypik;
  src: url(hypik.otf);
}

@font-face {
  font-family: neonfuture;
  src: url(Neon\ Future.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "hypik", "neonfuture", sans-serif;
}

img {
  max-width: none !important;
  border-radius: 50%;
}

.app {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(9,1,23,1);
  border-radius: 5px;
  margin-inline: 40px;
  margin-block: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

@media (min-width:300px){
  .content {
    margin: 20px 40px;
  }
}

@media (min-width:1000px){
  .content {
    margin: 20px 200px;
  }
}